{% extends "base.html" %}
{% load widget_tweaks %}

{% load allauth i18n %}
    <h1 class="signup-title">Register</h1>
{% block content %}
    <div class="wrap-sign-up">
  <div class="below-wrap-sign-">
      <div>
          <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
              Create your account
          </h2>
          <p class="mt-2 text-sm text-center text-gray-600">
            Or
            <a href="{% url 'account_login' %}" class="sign-up-a">
                login if you have one already.
            </a>
        </p>
      </div>
      <form class="mt-8" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        {{ form.non_field_errors | safe }}
        <input type="hidden" name="remember" value="true" />
        <div class="contain-all-input">
          <div>
            {{ form.username.errors | safe }}
            <label for="username" class="sr-only">Username</label>
            {% render_field form.username placeholder="Username" id="username" name="username" type="text" autocomplete="username" required=True class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %}
          </div>
          <div>
            {{ form.email.errors | safe }}
            <label for="email" class="sr-only">Username</label>
            {% render_field form.email id="email" name="email" placeholder="Email" type="email" autocomplete="email" required="True" class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %}
          </div>
          <div>
            {{ form.password1.errors | safe }}
            <label for="password1" class="sr-only">Password</label>
            {% render_field form.password1 id="password1" name="password1" placeholder="Password" type="password" autocomplete="current-password" required="True" class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %}
          </div>
          <div>
            {{ form.password2.errors | safe }}
            <label for="password2" class="sr-only">Password</label>
            {% render_field form.password2 id="password2" name="password2" type="password" autocomplete="current-password" required="True" class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Cofirm Password" %}
          </div>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div>
            <button type="submit" class="btn-sign-">
                Sign up
            </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}