{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CODELOFI</title>
	<link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/images/banner.png' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<script src="{% static '/js/index.js' %}"></script>
</head>
<body>
		<div class="overlay"></div>
		<div class="main">
			<div class="background">
				<img src="{% static 'images/banner.png' %}">
			</div>
			<div class="on-top">
				<div class="contain-img">
						<div class="container">
						  <div class="row">
						    <div class="col-md-12 text-center">
						      <h3 class="animate-charcter"> CODE LOFI</h3>
						    </div>
						  </div>
						</div>
				</div>
				<div class="scroll">
					<span class="select-language">
							<select>
								<option value="en">EN</option>
								<option value="vi">VI</option>
							</select>
					</span>
				</div>
                <a href="/accounts/login" class="log">
                         <button type="submit" class="login">LOG IN</button>
                </a>
                <a href="/accounts/signup" class="log">
    					<button type="submit" class="register">Register</button>
                </a>
{#				<div class="log">#}
{#					<a class="login" href="{% url 'login' %}">LOG IN</a>#}
{#					<button class="register">Register</button>#}
{#				</div>				#}
			</div>
			<div class="text">
				<h1 class="h1">CODE LOFI</h1>
				<span class="subtitle">Let's indulge in a relaxing video of coding lofi & inspiring beats!</span>
				<form class="fillin-paper">
					<div class="contain-input">
					  <input type="text" id="fname" name="fname" placeholder="Alogorithms, Database, Python, FE, BE, ...">
					</div>
					  <button class="search">GET STARTED</button>
				</form>
			</div>
		</div>
		<div class="its-font">
				<span class="animation">
					<h2 class="text-animation">
						<span>CODE IN A RELAXED MANNER</span>
					</h2>
				</span>
		</div>
		<div class="middle1">
			<h1 class="title-middle">
				WEB DEVELOPER - DJANGO FRAMEWORK
			</h1>
			<h5 class="h5-tag">CLICK TO YOUR TARGET TO READ THE LEARNING PATHWAY AND WATCH FULL OF ALL TUTORIAL VIDEOS</h5>
			<div class="contain-middle1">
				<div class="tested">
					<div class="contain-a"><a href="">FRONT-END</a></div>
				</div>
				<div class="tested">
					<div class="contain-a"><a href="">BACK-END</a></div>
				</div>
			</div>
			<div class="image-web">
				<img src="{% static 'images/web.png' %}">
			</div>
			<div class="line-a">
				<div class="top-4">
					<a href="">A</a>
					<a href="{% url 'video' %}">A</a>
					<a href="{% url 'video-css' %}">A</a>
					<a href="">A</a>
				</div>
				<div class="bottom-4">
					<a href="">A</a>
					<a href="{% url 'video6-mysql' %}">A</a>
					<a href="{% url 'video-python' %}">A</a>
					<a href="{% url 'video-django' %}">A</a>
				</div>
			</div>
		</div>
		<div class="middle2">
			<h1 class="title-middle" style="color:#13072e">
				HIGHLIGHTED TUTORIAL - SETUP ALGORITHMIC PLATFORM
			</h1>
            <h5 class="h5-tag02">An algorithmic platform will include the judge, and I will guide you on how to set up. By the way, just follow my documents to set up the site <p style="font-weight:bold">the judge.</p>. Please click to the button below to read instructions in README.md file </h5>
            <div class="contain-middle1">
				<div class="tested">
					<div class="contain-a-puple"><a href="https://github.com/ThuNganPythonista/DMOJ/blob/main/README.md" style="color: #ffd400;">SITE-SIDE SETUP</a></div>
				</div>
				<div class="tested">
					<div class="contain-a-puple"><a href="https://github.com/ThuNganPythonista/DMOJ/blob/main/README.md" style="color: #ffd400;">JUDGE-SIDE SETUP</a></div>
				</div>
			</div>
            <iframe width="648" height="405" src="https://www.youtube.com/embed/LiknJ7h7JB8" title="SETUP THE JUDGE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		<div class="middle3">
{#			<h1 class="title-middle">User System And Custom User Models In Django</h1>#}
            <div class="">
				<img src="{% static 'images/contain2.png' %}" class="robot">
			</div>
           <a href="https://drive.google.com/file/d/1jJmn4isvJiNWGw78BfBjDIDkt3lQOSi6/view?usp=sharing" class="html-download">
           </a>
           <a href="https://drive.google.com/file/d/1A2zcvLcAaVrRXi6uwoxUyEMS-5-8uUF0/view?usp=sharing" class="html-downloadbl">
           </a>
            <div class="message-waiting">Waiting for my next tutorials in Django ...</div>
        </div>

		<div class="middle4">
            <img src="{% static 'images/crazycode.png' %}" class="dinosaur-img1">
            <div class="middle4-round1">
                 <a href="https://github.com/koodo-reader/koodo-reader"><img src="{% static 'images/osc1.jpg' %}"></a>
                 <a href="https://github.com/wallabag/wallabag?tab=readme-ov-file"><img src="{% static 'images/osc2.jpg' %}"></a>
                 <a href="https://github.com/zhiyiYo/PyQt-Fluent-Widgets"><img src="{% static 'images/osc3.jpg' %}"></a>
            </div>
            <div class="middle4-round2">
                 <a href="https://github.com/Sangwan5688/BlackHole"><img src="{% static 'images/osc4.jpg' %}"></a>
                 <a href="https://github.com/Mereithhh/vanblog"><img src="{% static 'images/osc5.jpg' %}"></a>
                 <a href="https://github.com/giscus/giscus"><img src="{% static 'images/osc6.jpg' %}"></a>

            </div>
            <img src="{% static 'images/figma.png' %}" class="dinosaur-img1">
            <h2>I provide some of my project ideas and Figma templates for you to reference and use for coding</h2>
            <div class="middle4-round2">
                 <a href="https://www.figma.com/proto/ofKFV3XEzU2DttFmnX2yyY/DermaTech?type=design&node-id=2-3&t=os8sVv4S2w1VuvFq-0&scaling=scale-down&page-id=0%3A1&starting-point-node-id=2%3A3"><img src="{% static 'images/figma1.png' %}"></a>
                 <a href=""><img src="{% static 'images/figma2.png' %}"></a>
            </div>
            <div class="middle4-round4">
                <a href="" class="describe"><p>Describe</p></a>
                <a href="" class="describe"><p>Describe</p></a>
            </div>
		</div>
		<div class="middle5">
			<h1 class="title-middle">
				Heated Issues In The Field Of Computer Science
			</h1>
            <div class="contain-heatd">
                <a href="{% url 'news' %}"><i class="fa-solid fa-plus" style="color: #FFD43B;"></i><p>The rate of layoff Developers from Startup Companies to Big Tech like Google (Some Advices)</p></a>
                <a href="{% url 'news-ai' %}"><i class="fa-solid fa-plus" style="color: #FFD43B;"></i><p>Can AI Replace Developers?</p></a>
                <a href="{% url 'news-ixs' %}"><i class="fa-solid fa-plus" style="color: #FFD43B;"></i><p>How to Stand Out Among Millions Of Other Developers</p></a>
            </div>
		</div>
		<a class="pro" href="">Try CodeLofi Pro with only 1$</a>
		<footer class="middlefooter">
			<h2 class="title-middle">
				HOW ABOUT US ?
			</h2>
			<div class="below-how-about-us">
				<div class="background-for-detail">
				     <span class="how-about-us-story">I am Ngan (Heiley Pham), passionate about coding, and I want to create a detailed tutorial video for you covering various programming topics. Whether it's building a complete frontend and backend web, or delving into areas like databases, algorithms, languages, and frameworks, I'll guide you through it all with coding sessions set to relaxing lofi music. Join me in watching the videos and coding together! Thank you, everyone!</span>
				</div>
				<div>
					<div class="me">
					   <span style="--i:1">C</span>
					   <span style="--i:2">o</span>
					   <span style="--i:3">n</span>
					   <span style="--i:4">t</span>
					   <span style="--i:5">a</span>
					   <span style="--i:6">c</span>
					   <span style="--i:7">t</span>
			    	</div>
			    	<div class="contact-icon">
				    	<i class="fa-solid fa-envelope" style="width: 61%;"><a class="gmail" href="">codelofi@codelofi.tech</a></i>
				    	<i class="fa-brands fa-github"><a class="github" href="https://github.com/ThuNganPythonista"> Github</a></i>
				    	<i class="fa-brands fa-discord"><a class="discord" href="https://discord.gg/gQHmGkZB"> Discord</a></i>
			    	</div>
				</div>
			</div>
		</footer>
{#<script>#}
{#function myFunction() {#}
{#  alert("If you haven't purchased the CodeLofi Pro version, you need to ask for permission to download."#}
{#  );}#}
{#</script>#}
{#<script>#}
{#function myFunction() {#}
{#  var result = confirm("If you haven't purchased the CodeLofi Pro version, you need to ask for permission to download.");#}
{##}
{#  if (result) {#}
{#    window.location.href = "https://app.luminpdf.com/viewer/65aa14a87993d6dc3f918e32";#}
{#  }#}
{#</script>#}
</body>
</html>