{% extends 'base.html' %}
{% load static %}

{% block title %}NEWS{% endblock title %}
{% block content %}
<body id="video-detail">
<div class="contain-post">
        <img src="{% static 'images/lol.jpeg' %}" class="weeb">
        <p>Surely everyone knows this famous game League Of Legends, with players showcasing exceptional skills and surpassing millions of others to compete, win medals, receive prizes, and become famous in the game LOL.</p>
        <p>However, alongside them, there are players who don't participate in tournaments but are still well-known thanks to videos on social media demonstrating captivating and impressive gaming skills, attracting viewers' attention</p>
        <p>Similarly, as a computer science engineer competing with thousands of other applicants, you may not have a Nobel Prize to secure a direct job offer, but you still want to outshine millions of other candidates to achieve a salary exceeding $100,000 per year. </p>
        <p>So, let's brainstorm some ideas together.</p>
        <h5>1) Having a personal project with a large number of user registrations: </h5>
        <p>However, regardless of how good your coding skills are, it remains unknown unless you have competitive programming achievements like ICPC or IOI. </p>
        <p>Therefore, you need to demonstrate the number of users who have registered and used your product. Presenting the interviewer with a firsthand experience of your product is crucial. </p>
        <p>Observe societal issues, issues in your country, and conduct research to develop a technological product to address these problems. This could be a web or app integrated with AI</p>
        <h5>Writing a book on programming and publishing it:</h5>
        <p>Writing a book on programming and publishing it, showcasing impressive sales figures, can be a unique accomplishment</p>
        <p>Imagine going for an interview and handing the interviewer a copy of your bestselling Python book, highlighting the remarkable sales achieved on platforms like Amazon.</p>
        <p>The interviewer is likely to be surprised and impressed, recognizing your achievement as something comparable to, if not surpassing, international programming competition awards like ICPC</p>
        <p>This approach may be considered an easier way to gaining recognition compared to achieving success in ICPC competition</p>
        <h5>Participating in 20-30 US-ASEAN STIC courses:</h5>
        <p>Participating in 20-30 US-ASEAN STIC courses to obtain licenses and certifications can be less impressive without the presence of other highlighted achievements. However, it still serves as a method to expand your LinkedIn profile and showcase a diverse skill set.</p>
        <span>National Computer Science Excellence for Students:</span>
        <p>International Olympiad in Informatics (IOI): A prestigious international competition.</p>
        <p>Pre-IOI competitions include events like the Baltic Olympiad in Informatics (BOI), Central European Olympiad in Informatics (CEOI), and Asia-Pacific Informatics Olympiad (APIO).</p>
        <span>International Collegiate Programming Contest (ICPC):</span>
        <p>An annual programming contest for university students. Teams have 5 hours to solve around 10 algorithmic problems in each ICPC contest.</p>
        <span>Online Competitions</span>
        <p>In addition to the mentioned formal competitions, there are many weekly contests such as Div1, Div2 on platforms like Codeforces, Hackerrank, Topcoder. Many companies also organize their coding competitions, such as Facebook Hacker Cup, Google CodeJam, Yandex Algorithm, and more</p>

</div>

</body>



{% endblock content %}