{% extends 'base.html' %}
{% load static %}

{% block title %}NEWS{% endblock title %}
{% block content %}
<body id="video-detail">
<div class="contain-post">
        <img src="{% static 'images/lol.jpeg' %}" class="weeb">
        <p>Surely everyone knows this famous game League Of Legends, with players showcasing exceptional skills and surpassing millions of others to compete, win medals, receive prizes, and become famous in the game LOL.</p>
        <p>However, alongside them, there are players who don't participate in tournaments but are still well-known thanks to videos on social media demonstrating captivating and impressive gaming skills, attracting viewers' attention</p>
        <p>Similarly, as a computer science engineer competing with thousands of other applicants, you may not have a Nobel Prize to secure a direct job offer, but you still want to outshine millions of other candidates to achieve a salary exceeding $100,000 per year. </p>
        <p>So, let's brainstorm some ideas together.</p>
        <h5> Having a personal project with a large number of user registrations: </h5>
        <p>However, regardless of how good your coding skills are, it remains unknown unless you have competitive programming achievements like ICPC or IOI. </p>
        <p>Therefore, you need to demonstrate the number of users who have registered and used your product. Presenting the interviewer with a firsthand experience of your product is crucial. </p>
        <p>Observe societal issues, issues in your country, and conduct research to develop a technological product to address these problems. This could be a web or app integrated with AI</p>
        <h5>Finding Security Loopholes Of Corporations And Email/Report To Them: </h5>
        <p>Usually, I find that individuals with the ability to identify security vulnerabilities are often very skilled. They don't follow trends but instead delve deep into and understand the roots of each area of knowledge in computer science. Some people, driven by financial motives, engage in hacking activities that may lead to imprisonment. However, I believe that if one reports a vulnerability to the owner and receives a thankful response, it can be considered an achievement. It demonstrates the competence and ethics of a software engineer, and, most importantly, it adds a unique point to the CV. Below are some security vulnerabilities you can explore.</p>
        <p>1. Man-in-the-middle-attack</p>
        <p>2.XSS</p>
        <p>3.Store Cookies</p>
        <p>4.SQL INJECTION</p>
        <p>5.INSECURE DIRECT OBJECT REFERENCES</p>
        <p>6.CSRF</p>
        <p>7.User Management</p>
        <p style="font-style:italic">Take note: These vulnerabilities may be useful If it dates back to the years 2000-2017, and they used to be easier to exploit. However, considering the current year is 2024, they seem outdated. It's advisable not to place too much trust in them and instead focus your time on personal projects if you don't notice any unusual signs.</p>
        <h5>Writing a book on programming and publishing it:</h5>
        <p>Writing a book on programming and publishing it, showcasing impressive sales figures, can be a unique accomplishment</p>
        <p>Imagine going for an interview and handing the interviewer a copy of your bestselling Python book, highlighting the remarkable sales achieved on platforms like Amazon.</p>
        <p>The interviewer is likely to be surprised and impressed, recognizing your achievement as something comparable to, if not surpassing, international programming competition awards like ICPC</p>
        <p>This approach may be considered an easier way to gaining recognition compared to achieving success in ICPC competition</p>
        <h5>Participating in 20-30 US-ASEAN STIC courses:</h5>
        <p>Participating in 20-30 US-ASEAN STIC courses to obtain licenses and certifications can be less impressive without the presence of other highlighted achievements. However, it still serves as a method to expand your LinkedIn profile and showcase a diverse skill set.</p>
        <h5>National Computer Science Excellence for Students:</h5>
        <p>International Olympiad in Informatics (IOI): A prestigious international competition.</p>
        <p>Pre-IOI competitions include events like the Baltic Olympiad in Informatics (BOI), Central European Olympiad in Informatics (CEOI), and Asia-Pacific Informatics Olympiad (APIO).</p>
        <span>International Collegiate Programming Contest (ICPC):</span>
        <p>An annual programming contest for university students. Teams have 5 hours to solve around 10 algorithmic problems in each ICPC contest.</p>
        <span>Online Competitions</span>
        <p>In addition to the mentioned formal competitions, there are many weekly contests such as Div1, Div2 on platforms like Codeforces, Hackerrank, Topcoder. Many companies also organize their coding competitions, such as Facebook Hacker Cup, Google CodeJam, Yandex Algorithm, and more</p>

</div>

</body>



{% endblock content %}