{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block title %}NEWS{% endblock title %}#}
{#{% block content %}#}
{#<body id="video-detail">#}
{#<img src="{% static 'images/lol.jpeg' %}" class="weeb">#}
{#<div class="contain-post">#}
{#        <p></p>#}
{#        <h5>1)  </h5>#}
{#        <p> You must understand what AI can do to figure out how to avoid being replaced by AI.<br> Currently, AI cannot perform tasks as well as humans, such as planning code or writing texture. <br> However, it may be able to do so in the future. I believe that as a developer, you should learn how to use AI and embrace its assistance rather than fear it. AI is not an enemy or a competitor but rather a tool to help you code better. You need to know its strengths and weaknesses to focus on its advantages. <br>For developers, there may be concerns, but for those studying embedded code or electronics, AI has limitations. While AI can assist in circuit design, it cannot physically connect circuits, wire, or design chips for you. Therefore, some jobs are harder to replace with AI.</p>#}
{#        <h5>Some tasks that AI cannot fully replace developers for include writing documentation or code</h5>#}
{#	    <p> It may assist in coding short segments, but designing an entire module is still beyond its capabilities.</p>#}
{#        <p> I have tested a demo, and I estimate that in about 3-4 years, it may be able to read entire code pages. If it can read documents, it will only understand how to write based on examples</p>#}
{#</div>#}
{##}
{#</body>#}
{##}
{##}
{##}
{#{% endblock content %}#}