{% extends 'base.html' %}
{% load static %}

{% block title %}NEWS{% endblock title %}
{% block content %}
<body id="video-detail">
<img src="{% static 'images/weeb.png' %}" class="weeb">
<div class="contain-post">
            <p class="header-p">Currently, the job situation in the computer science field is becoming increasingly difficult, complex, and may not be as trending as before. I want to share a bit about the general situation in the West and Asian countries. After that, I will provide some advice so that you can prepare the best.</p>
		    <h5>Reasons for companies laying off many software engineers:</h5>
            <p>- 1-2 years ago, the US  raised interest rates, making it harder for startups to access funds.
            </p>
            <p>- Due to economic difficulties, a system does not need such a large workforce. After massive hiring, they start massive layoffs.</p>
            <p>=> CEOs streamline the system by laying off employees.
            </p>
            <p>Firstly, Amazon, Audible, and Google in the US laid off thousands of people. Engineers who had been working at Google for nearly 20 years were also laid off, and they were asked to relocate to countries like the Philippines or Thailand to save office rental and personnel costs. Even companies like Lazada or Discord, without any losses, still laid off employees.

=> When companies want to grow, they will hire a lot of engineers and raise prices. However, when market demand is low, they will cut expenses to ensure the company can survive.

Although Google and Amazon have very large profits, they still cut staff because the machinery is too cumbersome and there are not enough jobs for developers.

Therefore, sometimes, if you are skilled but get laid off, it is not your fault but sometimes fate. If you happen to be in a sector that the company no longer develops, even if you are a good engineer, you will be laid off.</p>
        <h5>Some advice for those studying computer science:</h5>
        <p>I think in this field, spending all day in front of a computer, there may not be a need to buy too many luxury items. You can save about 3 months' salary to cope with finding a new job when laid off.</p>
        <p>Don't be too loyal to the company. In essence, this is a transaction between money and labor. They have no responsibility to take care of your life. So never think, 'Oh, I've been working here for 4-5 years, so they won't lay me off.' You always have to be prepared with skills such as interviewing or writing a CV, a list of companies to apply to.</p>
        <p>I think you can find additional sources of income, such as coding a fun website to earn advertising money, coding apps, or freelancing. In general, I think developers have an advantage that you only need an idea and can code anytime, not necessarily working for a company.</p>
		<h5>For example:</h5>
        <img src="{% static 'images/layoff.png' %}" class="layoff">
        <p>You and your partner often don't know where to go for dates? Your partner always asks you where you want to go and what to eat because he doesn't know. You are very angry and want to break up. Hold on, instead, you create an app that only requires inputting both of your locations and preferences, and it will suggest a list of games or places you can go with your partner. </p>
        <p>In summary, one should be flexible between creativity, market observation, and academia. We tend to think that studying in the field of science should focus on academic knowledge. I think to develop, having a backup plan and creating products to earn extra income is not a bad choice.</p>
</div>

</body>



{% endblock content %}